@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

#my-logo {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

#nav_links_container > li > a {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

span {
  display: block;
}
